.body-con {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  width: 100%;
  height: 90vh;

  flex-direction: column;
  background-color: #020202;
  color: #fff;
}
.body-container::-webkit-scrollbar {
  display: none;
}
.head-container::-webkit-scrollbar {
  display: none;
}
.row {
  justify-content: space-between;
}
