.home-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  background-color: #020202;
  color: #fff;
}

.light {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  background-color: #fff;
  color: #020202;
}
.body-container {
  display: flex;
  flex-direction: row;
}
.body {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  background-color: #020202;
  color: #fff;
}
.body::-webkit-scrollbar {
  display: none;
}
.home-bg-wallpaper {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  height: 150px;
  color: #cbd5e1;
  padding-bottom: 10px;
  padding-left: 20px;
  background-size: cover;
}

.hide {
  display: none;
}
.nxt-wat {
  height: 30px;
}
.close {
  border: none;
  background: transparent;
}
.close:hover {
  background-color: #ff0b37;
  padding: 10px;
}
