.row-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1vw;
}
.row {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}
.cri-logo {
  height: 40px;
  align-self: flex-start;
  justify-content: center;
  margin: 2vw;
}
.col {
  display: flex;
  flex-direction: column;
}
.symbol {
  font-size: 20px;
  color: #fff;
}
.video-margin {
  padding: 2vw;
}
.liked {
  color: #00306e;
  font-size: 20px;
}

.not-like {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.like-text {
  color: #00306e;
  font-size: 14px;
  font-weight: 500;
}
